<div class="fluid-container">
    <!--<div class="row">-->
    <!--<div class="col-md-12 text-center">-->
    <!--<h2>Tru Tiên - Trận Linh</h2>-->
    <!--</div>-->
    <!--</div>-->
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-open="true"
                md-is-locked-open="true"
                md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="text-center"><img src="img/logo.jpg" /></h1>
            </md-toolbar>
            <md-content>
                <md-list-item class="md-1-line" ng-click="ctrl.selectedMenu = 1" ng-class="ctrl.selectedMenu === 1 ? 'active' : ''">
                    <div class="md-list-item-text" layout="column">
                        <h4>Tình duyên</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-1-line" ng-click="ctrl.selectedMenu = 2" ng-class="ctrl.selectedMenu === 2 ? 'active' : ''">
                    <div class="md-list-item-text" layout="column">
                        <h4>Ghép trận linh</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-1-line" ng-click="ctrl.selectedMenu = 3" ng-class="ctrl.selectedMenu === 3 ? 'active' : ''">
                    <div class="md-list-item-text" layout="column">
                        <h4>Thống kê trận linh</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-1-line" ng-click="ctrl.selectedMenu = 4" ng-class="ctrl.selectedMenu === 4 ? 'active' : ''">
                    <div class="md-list-item-text" layout="column">
                        <h4>Trận linh đã lưu</h4>
                    </div>
                </md-list-item>
            </md-content>
            <div class="side-footer" ui-sref="app.timer">&copy; 2017 NHL.</div>
        </md-sidenav>
        <md-content flex layout-padding ng-show="ctrl.selectedMenu === 1" class="content1">
            <div layout="row">
                <md-input-container flex="30">
                    <label>Chọn tướng</label>
                    <md-select ng-model="ctrl.selectedHero">
                        <md-option ng-repeat="(key, value) in ctrl.data" value="{{key}}">{{ctrl.renderText(key)}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <table class="table table-bordered">
                    <tr ng-repeat="(key, value) in ctrl.data[ctrl.selectedHero]">
                        <td>{{ctrl.renderText(key)}}</td>
                        <td ng-repeat="(key, value) in value">{{ctrl.renderText(key)}}: {{value}}</td>
                    </tr>
                </table>
            </div>
        </md-content>
        <md-content flex layout="row" ng-show="ctrl.selectedMenu === 2" class="content2">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" ng-repeat="item in ctrl.mixHeroList">
                            <md-input-container>
                                <label>Chọn tướng {{$index+1}}</label>
                                <md-select ng-model="item.selectedHero">
                                    <md-option ng-repeat="(key, value) in ctrl.data" value="{{key}}">{{ctrl.renderText(key)}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Kết quả ghép:</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Tình duyên: {{ctrl.combineProperty.length}}</p>
                            <table class="table table-bordered">
                                <tr ng-repeat="(key, value) in ctrl.filterCombineProperty">
                                    <td>{{ctrl.renderText(key)}}</td>
                                    <td>{{value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
        <md-content flex ng-show="ctrl.selectedMenu === 3" class="content3">
            <div class="row">
                <div class="col-md-2">
                    <p>Sắp xếp theo thuộc tính:</p>
                </div>
                <div class="col-md-2">
                    <md-select ng-model="ctrl.sortBy1">
                        <md-option ng-repeat="item in ctrl.sortList" value="{{item}}">{{ctrl.renderText(item)}}</md-option>
                    </md-select>
                </div>
                <div class="col-md-2">
                    <md-select ng-model="ctrl.sortBy2">
                        <md-option ng-repeat="item in ctrl.sortList" value="{{item}}">{{ctrl.renderText(item)}}</md-option>
                    </md-select>
                </div>
                <div class="col-md-2">
                    <md-select ng-model="ctrl.sortBy3">
                        <md-option ng-repeat="item in ctrl.sortList" value="{{item}}">{{ctrl.renderText(item)}}</md-option>
                    </md-select>
                </div>
                <div class="col-md-2">
                    <md-select ng-model="ctrl.sortBy4">
                        <md-option ng-repeat="item in ctrl.sortList" value="{{item}}">{{ctrl.renderText(item)}}</md-option>
                    </md-select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" ng-click="ctrl.multipleSort()">Sắp Xếp</button>
                </div>
            </div>
            <div ag-grid="ctrl.gridOptions" class="ag-fresh" style="margin-top: 20px; height: 80vh"></div>
        </md-content>
        <md-content flex ng-show="ctrl.selectedMenu === 4" class="content3">
            <div ag-grid="ctrl.bookmarkGridOptions" class="ag-fresh" style="margin-top: 20px; height: 80vh"></div>
        </md-content>
    </section>
</div>